<header class="main-header">
    <div class="topnav">
        <a class="<%= path === '/clinician/list-patients' ? 'active' : '' %>" href="/clinician/list-patients">List of Patients</a>
        <a class="<%= path === '/clinician/add-patient' ? 'active' : '' %>" href="/clinician/add-patient">Add a Patient</a>        
        <a class="<%= path === '/clinician/open-room' ? 'active' : '' %>" href="/clinician/open-room">Open Room</a>
    </div>
</header>