<div class="w3-bar w3-border w3-teal">
    <a href="/admin/list-clinicians" class="w3-bar-item w3-button w3-padding-large <%= path === '/admin/list-clinicians' ? 'w3-green' : '' %>">List of Clinicians</a>
    <a href="/admin/add-clinician" class="w3-bar-item w3-button w3-padding-large <%= path === '/admin/add-clinician' ? 'w3-green' : '' %>">Add a Clinician</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large <%= path === '/admin/product' ? 'w3-green' : '' %>">List of Unsigned Patients</a>
    <a href="/logout" class="w3-bar-item w3-button w3-padding-large w3-right">Logout</a>
</div>