<!DOCTYPE html>
<html lang="en" data-ng-app="TestApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/clinician/main.css">
    <link rel="stylesheet" href="/css/clinician/form-template.css">
    <link rel="stylesheet" href="/css/clinician/table.css">
    <style>
* {
    box-sizing: border-box;
  }
  
  .mainscreen {
      display : flex;
      align-items : center;
      justify-content : center;
  }

  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #00695c;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>